body {
    margin: 0px;
}

.light-container {
    background-color: #293942;
}

.dark-container {
    background-color: #1b272b;
}

.section {
    width: 80%;
    margin: 0px auto;
}

.title {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    color: #F9F8FF;
}

.info {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: rgba(249, 248, 255, 0.5);
}

.header-section {
    padding: 33px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.nav-btn {
    margin-right: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.218182px;
    color: #F9F8FF;
}

.logo-svg {
    fill: #F9F8FF;
    cursor: pointer;
}

.logo-svg:hover {
    fill: #7971E9;
    filter: drop-shadow(16px 16px 10px black);
}

.nav-btn:hover {
    color: #7971E9;
    filter: drop-shadow(16px 16px 10px black);
}

.sign-btn {
    margin-right: 24px;
    width: 145px;
    height: 55px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #7971E9;
    border: 1px solid #7971E9;
    border-radius: 4px;
}

.sign-btn:hover {
    background-color: #7971E9;
    color: #F4EEFF;
    border: 1px solid #7971E9;
}

.discover-container {
    background-image: url(../img/Discover-bcg.png);
}

.discover-title {
    padding-top: 214px;
    padding-bottom: 38px;
}

.discover-social {
    padding-top: 25px;
    padding-bottom: 100px;
}

.discover-social-link {
    margin-right: 19px;
    filter: drop-shadow(16px 16px 10px black);
}

.discover-social-link:hover {
    margin-right: 19px;
    filter: drop-shadow(16px 16px 10px #7971E9);
}

.brand-section {
    padding: 74px 0px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    max-width: 1920px;
    width: 80%;
    row-gap: 160px;
    justify-items: center;
}

.love-btn {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #7971E9;
}

.love-btn:hover {
    background-color: #7971E9;
    color: #F4EEFF;
}

.love-img-container {
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 810px;
    width: 100%;
    row-gap: 30px;
    justify-items: center;
    column-gap: 30px;
}

.love-img-container > div {
    max-width: 100%;
    height: 250px;
    width: 100%;
    background: antiquewhite;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    opacity: 1;
    cursor: pointer;
}

.love-img-container > div:hover {
    transform: scale(1.14);
    opacity: 0.6;
}

.love-img-container > div:nth-child(1) {
    background-image: url(../img/label1.jpg);
    filter: drop-shadow(16px 16px 10px black);
}

.love-img-container > div:nth-child(2) {
    background-image: url(../img/label2.jpg);
    filter: drop-shadow(16px 16px 10px black);
}

.love-img-container > div:nth-child(3) {
    background-image: url(../img/label3.jpg);
    filter: drop-shadow(16px 16px 10px black);
}

.love-img-container > div:nth-child(4) {
    background-image: url(../img/label4.jpg);
    filter: drop-shadow(16px 16px 10px black);
}

.love-img-container > div:nth-child(5) {
    background-image: url(../img/label5.jpg);
    filter: drop-shadow(16px 16px 10px black);
}

.love-img-container > div:nth-child(6) {
    background-image: url(../img/label6.jpg);
    filter: drop-shadow(16px 16px 10px black);
}

.love-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

.love-title, .love-info {
    margin-bottom: 32px;
}

.svg {
    fill: #7971E9;
    margin-right: 15px;
}

.hand-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-container {
    margin-left: 218px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 690px;
    width: 100%;
    justify-items: center;
    column-gap: 100px;
}

.play-container > div {
    max-width: 100%;
    height: 493px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    opacity: 1;
    cursor: pointer;
}

.play-container > div:hover {
    transform: scale(1.14);
    opacity: 0.6;
    filter: drop-shadow(16px 16px 10px black);
}

.play-container > div:nth-child(1) {
    background-image: url(../img/play1.png);
    filter: drop-shadow(16px 16px 10px black);
}

.play-container > div:nth-child(2) {
    background-image: url(../img/play2.png);
    filter: drop-shadow(16px 16px 10px black);
}

.hand-title, .hand-info {
    margin-bottom: 32px;
}

.why-content {
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 1920px;
    width: 80%;
    column-gap: 121px;
    row-gap: 82px;
}

.why-title {
    margin-bottom: 81px;
    margin-left: 200px;
}


.why-section {
    padding: 60px 0px;
}

.why-context-title, .why-info {
    padding-left: 16px;
}

.why-context-title {
    margin: 0px;
    border-left: #7971E9 solid 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    color: #F9F8FF;
}

.about-info {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(249, 248, 255, 0.25);
}

.about-section {
    padding: 48px 0px 130px 0px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    max-width: 1920px;
    width: 80%;
    column-gap: 70px;
}

.about-logo-info {
    margin-right: 130px;
}

.about-main-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    color: rgba(249, 248, 255, 0.5);
}

.about-main-btn:hover {
    color: #F9F8FF;
    filter: drop-shadow(16px 16px 10px black);
}

.about-other-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #F9F8FF;
}

.about-other-btn:hover {
    color: #7971E9;
}


.about-btns {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-btns {
    margin: 0px auto;
    padding: 34px 0px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 290px;
}

.footer-svg {
    fill: #FFFFFF;
    filter: drop-shadow(16px 16px 10px black);
}

.footer-svg:hover {
    fill: #7971E9;
}

.brand-svg {
    fill: #6994A8;
    filter: drop-shadow(16px 16px 10px black);
}

.brand-svg:hover {
    fill: #7971E9;
}

.header-nav-mobile {
    display: none;
}

.header-nav-mobile-btns {
    display: none;
}

.burger-menu {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    top: 190px;
    background-color: #1B272B;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 49%;
}

.burger-svg {
    width: 60px;
    height: 60px;
    fill: #F9F8FF;
}

.burger-svg:hover {
    fill: #7971E9;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: baseline;
}

@media (max-width: 1280px) {
    .header-section {
        justify-content: space-around;
        flex-direction: column;
    }

    .header-svg {
        margin-bottom: 40px;
    }

    .about-info {
        display: none;
    }

    .brand-section {
        grid-template-columns: repeat(3, auto);
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-logo-info {
        margin: 35px auto 0px auto;
    }

    .love-img-container {
        grid-template-columns: repeat(2, auto);
        margin-right: 30px;
        width: 80%;
    }

    .hand-section {
        flex-direction: column;
    }

    .love-btn {
        margin-bottom: 20px;
    }

    .play-container {
        margin: 0px auto;
    }

    .why-title {
        text-align: center;
        margin-left: 55px;
    }

    .about-section {
        display: flex;
        justify-content: space-around;
    }

    .about-main-btn {
        font-size: 25px;
    }

    .discover-title {
        padding-top: 100px;
    }

    .title {
        font-size: 40px;
    }
}

@media (max-width: 1024px) {
    .about-section {
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding-bottom: 50px;
    }

    .about-btns {
        margin-bottom: 30px;
    }

    .about-other-btn {
        margin-bottom: 10px;
    }

    .love-img-container {
        margin-right: 25px;
        width: 70%;
    }

    .play-container {
        width: 90%;
    }
}

@media (max-width: 870px) {
    .header-nav {
        display: flex;
    }

    .nav-btn {
        margin-right: 35px;
    }

    .discover-title {
        padding-top: 70px;
    }

    .discover-social {
        padding-bottom: 80px;
    }

    .brand-section {
        padding: 50px 0px;
    }

    .love-section {
        flex-direction: column;
    }

    .love-img-container > div {
        width: 70%;
    }

    .love-img-container {
        margin: 0px auto 40px auto;
    }

    .play-container {
        margin-top: 25px;
    }

    .why-content {
        grid-template-columns: repeat(1, auto);
    }

    .section {
        width: 90%;
    }

    .discover-section {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-nav {
        display: none;
    }

    .header-nav-mobile {
        display: block;
    }

    
}

@media (max-width: 650px) {
    .discover-title {
        font-size: 35px;
    }

    .brand-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 100px;
    }

    .love-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .play-container {
        grid-template-columns: repeat(1, auto);
        row-gap: 30px;
    }

    .play-container > div {
        height: 685px;
        width: 80%;
    }

    .about-section {
        grid-template-columns: repeat(1, auto);
        padding: 30px 0px;
    }

    .about-main-btn {
        font-size: 35px;
        padding-bottom: 5px;
    }

    .about-other-btn {
        font-size: 23px;
        padding-bottom: 5px;
    }

    .burger-menu {
        width: 88%;
        height: 70%;
    }

    .section {
        width: 80%;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 29px;
    }

    .discover-social {
        display: flex;
        flex-direction: column;
        padding-bottom: 45px;
    }

    .discover-title {
        padding-top: 45px;
        margin-left: 30px;
    }

    .discover-social-img {
        margin-bottom: 30px;
    }

    .brand-section {
        row-gap: 70px;
    }

    .love-section {
        padding-top: 45px;
    }

    .love-img-container > div {
        margin: 0px auto;
        width: 90%;
    }

    .section {
        width: 75%;
    }

    .footer-btns {
        width: 260px;
    }

    .burger-menu {
        height: 72%;
    }
}

@media (max-width: 375px) {
    .burger-menu {
        height: 77%;
    }

    .play-container > div {
        width: 100%;
        height: 400px;
    }

    .why-title {
        margin: 0px auto;
    }

}

